<ul>
  <% for result in @results do %>
    <% if result.poster_path %>
      <li>
        <%= image_tag "http://image.tmdb.org/t/p/original#{result.poster_path}" %><br>
        <% if @type == "movie" %>
          <h4><%= result.title %></h4>
        <% else %>
          <h4><%= result.name %></h4>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
