<section>
  <%= form_tag('/search') do %>
      <section class="search-input">
        <%= search_field_tag 'search', nil, autofocus: true %>
      </section>
      <section>
        <%= submit_tag 'Search' %>
      </section>
  <% end %>
</section>
<script>
  $(document).ready(function(){
    $(".img-result").mouseover(
                      function() {
                        $(this).children(".hover").show();
                      })
                    .mouseout(
                      function() {
                        $(this).children(".hover").hide();
                      }
                    );
  });
</script>
